# vim
*.swp
*.un~

# report
blueberry.txt
blueberry.txt.json

# record
记录.xlsx

# excel
~$*.xlsx

# python
__pycache__
.mypy_cache

# syncthing
.stignore
.stfolder
.stversions

# wheels
wheel

# imgs
*.png

# ???
blueberry.dat