body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "Fira Mono";
  src: url("FiraMono.ttf");
}

#app div {
  font-family: "Fira Mono", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  line-height: 100%;
  color: #d4d4d4;
  user-select: none;
  margin: 0;
  padding: 0;
}

#app.status-D div {
  color: #ff4848;
}

#app.status-C div {
  color: #ff9011;
}

#app.status-B div {
  color: #eff300;
}

#app.status-A div {
  color: #00e213;
}

#app.status-AA div {
  color: #00e3eb;
}

#app.status-AAA div {
  color: #0099ff;
}

#app.layout-points #points {
  font-size: min(60vh, 30vw);
}

#app.layout-points #nowtime {
  font-size: min(30vh, 15vw);
}

#app.layout-points #nowdate {
  display: none;
}

#app.layout-time #points {
  display: none;
}

#app.layout-time #nowtime {
  font-size: min(60vh, 20vw);
}

#app.layout-time #nowdate {
  font-size: min(30vh, 10vw);
}
